.diferencial-div{
    background-color: #00C65E;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diferencial-div h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    margin-top: -1.7rem;

}
.diferencial-div h2{
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    padding-top: 1.2rem;

}

.quadrado-principal{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
}
.quadrado-principal .quadrado2{
    width: 21rem;
    height: 13.943rem;
    border-radius: 10px;
    background-color: #333;
    margin-top: -0.75rem;
}
.quadrado-principal .quadrado1,
.quadrado-principal .quadrado3{
    width: 16.813rem;
    height: 11.161rem;
    border-radius: 10px;
    background-color: #333;
    margin: 0.625;
    
}

.quadrado1{
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
    margin-bottom: 0.625rem;
    background-image: url("../Assets/Diferenciais/post352370138_195686840095274_8610905581196524785_n.png");
    background-size: 100%;    
}

.quadrado2{
    width: 15rem;
    height: 10rem;
    border-radius: 10px;
    margin-bottom: 0.625rem;
    background-image: url("../Assets/Diferenciais/post315060899_593320649150277_3895565291142655322_n.png");
    background-size: 100%;
    
}

.quadrado3{
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    margin-bottom: 0.625rem;
    background-image: url("../Assets/Diferenciais/post296665479_182394100871851_4724770721240709487_n.png");
    background-size: 100%;
    
}

.quadrado1 h3{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 4rem;
    
}

.quadrado3 h3{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 4rem;
}

.quadrado2 h3{
    color: #fff;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 600;
    margin-top: 4rem;
}





