.planos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
}
.planos h1{
    color: #00C65E;
    text-align: center;
    font-size:2rem
}
.planos h2{
    text-align: center;
    color: white;
    
    font-weight: 100;
}
.planos h3{
    font-size: 1.5rem;
    position: absolute;
    margin-right: auto;
    margin-top: 3rem;
}
.planos .text{
    display: flex;
    padding: auto;
    position: absolute;
    align-items: center;
    font-size: 1rem;
    margin-top: 3.5rem;
    margin-right: 5.8rem;
}
.planos .preco{
    font-size: 1.8rem;
}
.div-planos{
    display: flex;
    justify-content: space-between;
    width: auto;
}

.div-planos .plano1, .div-planos .plano2,
.div-planos .plano3{
    color: white;
    display: flex;
    justify-content: center;
    width: 240px;
    height: 400px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 3rem;
}
.div-planos img{
    display: flex;
    border-radius: 10px;
    background: local;
    background-size: cover;
    background-position: center;
}

