.diferencial-fundo{
    background: linear-gradient(to top, #00C65E, #005C2F); ;
    }
    
    .diferencial-div{
        height: 25rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../../Home/Assets/img/portifolio/ativ2.png");
        background-size: contain;
        background-position: top;
    }
    
    .diferencial-div h1{
        color: #fff;
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        font-style: italic;
        margin-top: -1.7rem;
    
    }
    .diferencial-div h2{
        color: #fff;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        font-style: italic;
        padding-top: 1.2rem;
    
    }
    
    .quadrado-principal{
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
        gap: 1.875rem;
    }
    .quadrado-principal .quadrado2{
        width: 21rem;
        height: 13.943rem;
        border-radius: 0.625rem;
        background-color: #333;
        margin-top: -0.75rem;
    }
    .quadrado-principal .quadrado1,
    .quadrado-principal .quadrado3{
        width: 16.813rem;
        height: 11.161rem;
        border-radius: 0.625rem;
        background-color: #333;
        margin: 0.625;
        
    }
    

    
    
    
    
    
    