:root{
    --cor-principal:#00C65E;
    --cor-degradê:#00602E;
    --cor-fundo:#101010;
    --cor-claro:#FFF;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    background-image: url('../../Home/Assets/Pag-horarios/introducao-.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-attachment:local;
    background-color: var(--cor-fundo);
    
}

.introducao-horarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20rem;
}

.introducao-horarios h1{
    font-size: 3rem;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(to right,var(--cor-degradê),var(--cor-principal),#01ee70);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.introducao-horarios a{
    text-decoration: none;
    color: #FFF;
    margin-top: -1rem;
    letter-spacing: 0.4rem;
    font-weight: 400;
    transition: .2s;
}

.introducao-horarios a:hover{
    text-shadow: 0 0rem 0.5rem var(--cor-claro);
    transition: .2s;
}


@media screen and (min-width:451px) and (max-width:1100px) {
    
    body{
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    background-image: url('../../Home/Assets/Pag-horarios/introducao-.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 250%;
    background-color: var(--cor-fundo);
}

.introducao-horarios{
    height: 35rem;
    text-align: center;
}

.introducao-horarios h1{
    font-size: 2rem;
}

.introducao-horarios a{
    letter-spacing: 0rem;
    font-weight: 400;
    font-size: 1.2rem;
}
}

@media screen and (max-width:450px) {
    
    body{
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    background-image: url('../../Home/Assets/Pag-horarios/introducao-.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300%;
    background-color: var(--cor-fundo);
}

.introducao-horarios{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    text-align: center;
}

.introducao-horarios h1{
    padding-top: 3rem;
    font-size: 2rem;
}

.introducao-horarios a{
    font-weight: 400;
    font-size: 0.8rem;
    max-width: 80%;
}
}