.home-horarios{
    background-color: #101010;
    padding-top: 2rem;
}

.quadro-horarios h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    font-size: 2.2rem;
    margin: 0;
}

.quadro-horarios h2 {
    text-align: center;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    font-size: 1.25rem;
    filter: opacity(0.5);
}

.tabela-horarios {
    height: calc(100vh - 80px); /* 80px é a altura do rodapé, ajuste conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela-horarios iframe {
    width: 64%;
    height: 74%;
    border: none;
    border-radius: 0.8rem;
}



