:root {
    --cor-principal: #00C65E;
    --cor-fundo: #101010;
    --cor-claro: #FFF;
}


body {
    background-color: var(--cor-fundo);
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
}

.body-duvidas{
    background-image: linear-gradient(#0000008b,#0000008b), url('img/background.jpg');
    background-size: 100%; 
    background-position: top; 
    background-repeat: no-repeat; 
}

.introducao-horarios h1{
    margin: 39.840px 0px;
}

.background-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.Duvida {
    background-color: var(--cor-fundo);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #fff;
}

.Duvida {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
}

.duvida-container {
    text-align: center;
    width: 100%;
    max-width: 800px; 
}

.linha-verde {
    flex-grow: 1;
    height: 0.3rem; 
    background-color: #00C65E;
    margin: 0.5rem 0; 
}

.duvida-texto {
    font-size: 2rem; 
    margin-bottom: 1rem; 
}

.arrow-img {
    width: 1.5rem; 
    margin-left: 1rem; 
    transition: .3s;
}

.arrow-img.aberto{
    rotate: 180deg; 
    transition: .3s;
}

.duvida-item {
    margin-top: 1rem; 
    position: relative;
}

.resposta-container {
    display: block;
    border: 2px solid #00C65E;
    top: calc(100% + 5px);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: .3s;
}

.resposta-container.aberto {
    padding: 1rem;
    height: auto;
    transition: .3s;
}

.resposta {
    margin: 0.5rem 0; 
    font-size: 1.25rem;
    transition: .3s;
}

.linha-duvida {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.linha-verde-container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.duvidas-frequentes-titulo{
    margin-bottom: 12%;
}


.duvidas-frequentes-titulo h1{
    color: var(--cor-principal);
    font-weight: 500;
    font-style: italic;
    text-shadow: 0 0rem 0.5rem var(--cor-principal);
    font-size: 2.2rem;
    font-family: "Barlow", sans-serif;
}

.duvidas-frequentes-titulo h2{
    text-align: center;
    color: white;
    font-weight: 100;
    margin: 0;
    font-size: 1.5rem;
    
}

#duvida-enviar {
    justify-content: center;
    display: flex;
    margin-top: 5rem;
    transition: .3s;
}

#duvida-paragrafo {
    justify-content: center;
    display: flex;
    font-size: 2rem;
    transition: .3s;
}

.EnviarDuvida{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25rem;
    background-image: url("../Home/Assets/img/portifolio/ativ2.png"), linear-gradient(var(--cor-fundo), var(--cor-fundo));
}

.EnviarDuvidaTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -2.5rem;
    margin-bottom: 2.5rem;
}

.EnviarDuvidaTitulo h1{
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: italic;
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;
}

.EnviarDuvidaTitulo h2{
    color: #d1d1d1;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}

.DuvidaForm {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.DuvidaForm input{
    padding: 1rem;
    border: none;
    margin: 0 2rem;
    border-radius: 4px;
    background-color: #444444;
    font-size: 1rem;
    color: #fff;
}

.DuvidaForm input:focus{
    color: #fff;
    border: solid;
    border-color: #00C65E;
    border-width: 1.5px;
    outline: none;
    box-shadow: 0 0.3rem 1rem var(--cor-principal);
}

.DuvidaForm button{
    cursor: pointer;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0.8rem 2rem;
    border: 2px solid var(--cor-principal); 
    border-radius: 8px; 
    background-color: transparent; 
    font-weight: 300;
    transition: .2s;
    font-size:medium;
}

.DuvidaForm button:hover{
    transform: scale(1.1);
    box-shadow: 0 0.3rem 1rem var(--cor-principal);
    transition: .2s;
}

@media screen and (min-width:1100px) and (max-width:1400px) {
    .body-duvidas {
        background-size: 150%;
    }
}

@media screen and (min-width:451px) and (max-width:1100px) {
    .body-duvidas {
        background-color: var(--cor-fundo);
        background-image: linear-gradient(#0000008b,#0000008b), url('img/background.jpg');
        background-size: 300%;
        background-position: top left 35% 35%;
    }

    .duvidas-frequentes-titulo h1{
        color: var(--cor-principal);
        font-weight: 500;
        font-style: italic;
        text-shadow: 0 0rem 0.5rem var(--cor-principal);
        font-size: 2.2rem;
        font-family: "Barlow", sans-serif;
    }
    
    .duvidas-frequentes-titulo h2{
        text-align: center;
        color: white;
        font-weight: 100;
        margin: 0;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:450px) {

    
.duvida-texto {
    font-size: 1.2rem; 
    margin-bottom: 1rem; 
}

    .body-duvidas {
        background-color: var(--cor-fundo);
        background-image: linear-gradient(#0000008b,#0000008b), url('img/background.jpg');
        background-size: 320%;
        background-position: top left 35% 35%;
    }

    .duvidas-frequentes-titulo h1{
        color: var(--cor-principal);
        font-weight: 500;
        font-style: italic;
        text-shadow: 0 0rem 0.5rem var(--cor-principal);
        font-size: 2.2rem;
        font-family: "Barlow", sans-serif;
    }

    .duvida-container {
        padding: 2rem;
    }
    
    .duvidas-frequentes-titulo h2{
        text-align: center;
        color: white;
        font-weight: 100;
        margin: 0;
        font-size: 1rem;
    }

    .DuvidaForm {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .DuvidaForm input{
        padding: 1rem;
        border: none;
        margin: 0.6rem 0rem;
        border-radius: 4px;
        background-color: #444444;
        font-size: 1rem;
        color: #fff;
    }

    .EnviarDuvidaTitulo h1{
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        font-style: italic;
        margin-top: -1.2rem;
        margin-bottom: -1rem;
    }

    .DuvidaForm button{
        margin-top: 1rem;
    }
}