:root {
    --cor-principal: #00C65E;
    --cor-fundo: #101010;
    --cor-claro: #FFF;
}


body {
    background-color: var(--cor-fundo);
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
}

.body-duvidas{
    background-image: linear-gradient(#0000008b,#0000008b), url('img/background.jpg');
    background-size: 100%; 
    background-position: top; 
    background-repeat: no-repeat; 
}

.introducao-horarios h1{
    margin: 39.840px 0px;
}

.background-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.Duvida {
    background-color: var(--cor-fundo);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #fff;
}

.Duvida {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
}

.duvida-container {
    text-align: center;
    width: 100%;
    max-width: 800px; 
}

.linha-verde {
    flex-grow: 1;
    height: 0.3rem; 
    background-color: #00C65E;
    margin: 0.5rem 0; 
}

.duvida-texto {
    font-size: 2rem; 
    margin-bottom: 1rem; 
}

.arrow-img {
    width: 1.5rem; 
    height: auto;
    margin-left: 1rem; 
}

.duvida-item {
    margin-top: 1rem; 
    position: relative;
}

.resposta-container {
    display: none;
    padding: 1rem; 
    border: 2px solid #00C65E;
    top: calc(100% + 5px);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
    transition: .5s;
}

.resposta-container.aberto {
    display: block;
    transition: .5s;
}

.resposta {
    margin: 0.5rem 0; 
    font-size: 1.25rem; 
     transition: .3s;
}

.linha-duvida {
    display: flex;
    align-items: center;
    cursor: pointer; 
    transition: .3s;
}

.linha-verde-container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: .3s;
}

.duvidas-frequentes-titulo h1{
    color: var(--cor-principal);
    font-weight: 500;
    font-style: italic;
    text-shadow: 0 0rem 0.5rem var(--cor-principal);
    font-size: 2.2rem;
    font-family: "Barlow", sans-serif;
}

.duvidas-frequentes-titulo h2{
    text-align: center;
    color: white;
    font-weight: 100;
    margin: 0;
    font-size: 1.5rem;
    
}


#Envie {
    justify-content: center;
    display: flex;
    margin-top: 5rem;
    height: 2rem;   
    gap: 5rem;

}

#Envie input[type="text"] {
    width: 300px; 
    height: 40px; 
    font-size: 1.5rem; 
    padding: 10px; 
    margin: 0 10px; 
}

#duvida-enviar {
    justify-content: center;
    display: flex;
    margin-top: 5rem;
    transition: .3s;
}

#duvida-paragrafo {
    justify-content: center;
    display: flex;
    font-size: 2rem;
    transition: .3s;
}

@media screen and (max-width:450px) {
    .body-duvidas {
        background-color: var(--cor-fundo);
        background-image: linear-gradient(#0000008b,#0000008b), url('img/background.jpg');
        background-size: 300%;
        background-position: top left 35% 35%;
    }

    .duvidas-frequentes-titulo h1{
        color: var(--cor-principal);
        font-weight: 500;
        font-style: italic;
        text-shadow: 0 0rem 0.5rem var(--cor-principal);
        font-size: 2.2rem;
        font-family: "Barlow", sans-serif;
    }
    
    .duvidas-frequentes-titulo h2{
        text-align: center;
        color: white;
        font-weight: 100;
        margin: 0;
        font-size: 1.5rem;
    }
}